body {
    background-image: url('./Images/background3.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;  
}
.myheader {
    max-height: 10%;

    background-color: rgb(250, 235, 215);
    border-top: none;
    color: black; 
}
.head-logo {
    margin-top: 0%;
    /* max-inline-size: 200px; */
    max-width: 15vw; 
    max-height: 15vh;

}
.header-links {   
    column-gap: 2px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
h2, h1 {
    font-family: 'Noto Sans TC', sans-serif;
    align-items: center;
    color: black;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-weight: 500;
    text-decoration: underline;
}
h3 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
.block-section {
    background-color: rgba(250, 235, 215, 0.9);
    color: black;
    font-size: 1.25rem;
    margin: 3rem 10rem;
    margin-bottom: 0;
    border-radius: 5px;
}
.card-img-top {
    max-width: 30rem;
    object-fit: cover;
}
.card {
    padding: 0.5rem;
    background-color: antiquewhite;
}
p {
    padding-bottom: 0.25rem;
}
.newsletter-section {
    background-color: rgb(250, 235, 215,0.5);
    margin-left: 25%;
    margin-right: 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
form {
    justify-content: center;
    padding: 0 3rem 3rem 4rem;
}